@import 'compass';
@include global-reset;
@import 'x3dom';
@import 'jquery.nouislider.scss';

$font-size-xxxx-large:100px;
$font-size-xxx-large:72px;
$font-size-xx-large:42px;
$font-size-x-large:36px;
$font-size-large:26px;
$font-size-medium:18px;
$font-size-small:12px;
$navbar-height:80px;
$greencolor:rgb(146, 151, 66);
$dkgray:rgb(88, 88, 90);
$ltgray:rgb(184, 184, 186);
$transparentColor:transparent;
$borderColor:rgba(0, 0, 0, 0.2);
$bodyContainerWidth:1281px;
$bodyContainerHeight:718px;
$md-bodyContainerHeight:600px;
$bodyContainerPadding:40px;
$bgcolor:rgb(232, 232, 232);
$headerImage0:url("../images/headers/header0.jpg");
$headerImage1:url("../images/headers/header1.jpg");
$headerImage2:url("../images/headers/header2.jpg");
$headerImage3:url("../images/headers/header3.jpg");
$headerImage4:url("../images/headers/header4.jpg");
$mainPic:url("../images/tablechair.jpg");
body {
    color: $dkgray;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: $bgcolor;
    font-weight: 400;
}
.bodyContainer {
    width: $bodyContainerWidth;
    height: $bodyContainerHeight;
    padding: 40px;
    background-color: $transparentColor;
}
@media (max-width: 1280px) {
    .bodyContainer {
        width: 800px;
        height: $md-bodyContainerHeight;
        padding: 10px;
        background-color: $transparentColor;
    }
}
@media (max-width: 800px) {
    .bodyContainer {
        height: auto;
        width: 600px;
        padding: 5px;
        top: -1px;
        position: relative;
    }
}
@media (max-width: 600px) {
    .bodyContainer {
        height: auto;
        width: 320px;
        padding: 0px;
        top: -1px;
        position: relative;
    }
    .sm-text-padding {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}
//1.65w : 1h
$boxFullRowWidth:1201px;
$md-boxFullRowWidth:800px;
$mds-boxFullRowWidth:600px;
$sm-boxFullRowWidth:320px;
$boxFullRowHeight:104px;
$boxFullRowHeightWithoutPadding:94px;
$md-boxFullRowHeight:70px;
$md-boxFullRowHeightWithoutPadding:64px;
$mds-boxFullRowHeight:52px;
$mds-boxFullRowHeightWithoutPadding:48px;
$sm-boxFullRowHeight:27px;
$sm-boxFullRowHeightWithoutPadding:22px;
$boxWidth:14.285714285%;
$boxHeight:100%;
$boxPadding:0px;
$sm-header-img-width:60px;
.center {
    margin-left: auto;
    margin-right: auto;
}
.mb10 {
    margin-bottom: 10px;
}
header, .menuHolder{
    margin-bottom: 10px;
    .arbitraryHeightRow {
        .img0 {
            border: 1px solid $borderColor;
            border-left: 0px;
        }
        .img0.first {
            border: 1px solid $borderColor;
        }
        .header0 {
            background-image: $headerImage0;
            background-size: cover;
        }
        .header1 {
            background-image: $headerImage1;
            background-size: cover;
        }
        .header2 {
            background-image: $headerImage2;
            background-size: cover;
        }
        .header3 {
            background-image: $headerImage3;
            background-size: cover;
        }
        .header4 {
            background-image: $headerImage4;
            background-size: cover;
        }
    }
}
@media (max-width: 600px) {
    header {
        height: $sm-boxFullRowHeight*2;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        .arbitraryHeightRow {
            .img0 {
                border-left: 1px solid $borderColor;
                border-top: 0px;
                //width: $sm-header-img-width;
                //height: 60px;
                //margin-bottom: 10px;
            }
            .img0.first {
                border: 1px solid $borderColor;
            }
            .staticHeader {
                width: $sm-header-img-width*5;
            }
        }
    }
}
.menuButtonHolder {
    top: 0px;
}
#menuButton {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    right: 0px;
    position: absolute;
    opacity: .7;
}
.menuHolder {
    top: 52px;
    position: absolute;
    z-index: 100;
    width:100%;
    .firstMargin {
        padding-top: 4px;
    }
    .lastMargin {
        padding-bottom: 4px;
    }
    .arbitraryHeightRow {
        background-color: rgba(118, 118, 118, 1);
        opacity: 1;
        width: 100%;
    }
}
.menuHolder>div {
    float: left;
}
$selectionIndicatorHeight:8px;
.selectionIndicator {
    width: 90%;
    height: $selectionIndicatorHeight;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: $selectionIndicatorHeight/2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: $selectionIndicatorHeight/2;
    background-color: rgba(0, 0, 0, .4);
}
.selectionIndicator.selected {
    background-color: $greencolor;
}
.fullHeightRow {
    width: $boxFullRowWidth;
    height: $boxFullRowHeight;
}
.fullHeightRow>div {
    float: left;
}
.arbitraryHeightRow {
    width: $boxFullRowWidth;
}
.arbitraryHeightRow>div {
    float: left;
    position: relative;
}
@media (max-width: 1280px) {
    .fullHeightRow {
        width: $md-boxFullRowWidth;
    }
    .arbitraryHeightRow {
        width: $md-boxFullRowWidth;
    }
}
@media (max-width: 800px) {
    .fullHeightRow {
        width: $mds-boxFullRowWidth;
    }
    .arbitraryHeightRow {
        width: $mds-boxFullRowWidth;
    }
}
@media (max-width: 600px) {
    .fullHeightRow {
        width: $sm-boxFullRowWidth;
    }
    .arbitraryHeightRow {
        width: $sm-boxFullRowWidth;
    }
}
.row100 {
    width: 100%;
}
.percent25 {
    width: 25%;
}
.fl {
    float: left;
}
@media(max-width:1280px) {
    .md-percent50 {
        width: 50%;
    }
}
@media(max-width:600px) {
    .sm-percent25 {
        width: 25%;
    }
}
.height-0 {
    height: 0px;
}
.height-1 {
    height: $boxFullRowHeight;
}
.height-2 {
    height: $boxFullRowHeight*2;
}
.height-3 {
    height: $boxFullRowHeight*3;
}
.height-4 {
    height: $boxFullRowHeight*4;
}
.box-show{
    display:block;
}
.box-0 {
    display: none;
}
.box-1 {
    display: block;
    width: $boxWidth;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,0,0);
}
.box-15 {
    display: block;
    width: $boxWidth*1.5;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,0,0);
}
.box-2 {
    display: block;
    width: $boxWidth*2;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,255,0);
}
.box-3 {
    display: block;
    width: $boxWidth*3;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,0,255);
}
.box-4 {
    display: block;
    width: $boxWidth*4;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,128,0);
}
.box-5 {
    display: block;
    width: $boxWidth*5;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,0,128);
}
.box-6 {
    display: block;
    width: $boxWidth*6;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,0,128);
}
.box-7 {
    display: block;
    width: $boxWidth*7;
    height: $boxHeight;
    padding: $boxPadding;
    //background-color:rgb(255,0,128);
}
@media (max-width: 1280px) {
    .md-box-0 {
        display: none;
    }
    .md-box-1 {
        display: block;
        width: $boxWidth;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,0);
    }
    .md-box-2 {
        display: block;
        width: $boxWidth*2;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,255,0);
    }
    .md-box-3 {
        display: block;
        width: $boxWidth*3;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,255);
    }
    .md-box-4 {
        display: block;
        width: $boxWidth*4;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,128,0);
    }
    .md-box-5 {
        display: block;
        width: $boxWidth*5;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,128);
    }
    .md-box-6 {
        display: block;
        width: $boxWidth*6;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,128);
    }
    .md-box-7 {
        display: block;
        width: 100%;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,128);
    }
    .md-height-pt5 {
        height: 40px !important;
    }
    .height-0 {
        height: 0px;
    }
    .height-1 {
        height: $md-boxFullRowHeight;
    }
    .height-2 {
        height: $md-boxFullRowHeight*2;
    }
    .height-3 {
        height: $md-boxFullRowHeight*3;
    }
    .md-float {
        float: left;
    }
}
@media (max-width: 800px) {
    .mds-box-0 {
        display: none;
    }
    .mds-box-1 {
        display: block;
        width: $boxWidth;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,0);
    }
    .mds-box-2 {
        display: block;
        width: $boxWidth*2;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,255,0);
    }
    .mds-box-3 {
        display: block;
        width: $boxWidth*3;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,255);
    }
    .mds-box-4 {
        display: block;
        width: $boxWidth*4;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,128,0);
    }
    .mds-box-5 {
        display: block;
        width: $boxWidth*5;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,128);
    }
    .mds-box-6 {
        display: block;
        width: $boxWidth*6;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,128);
    }
    .mds-box-7 {
        display: block;
        width: 100%;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,128);
    }
    .height-0 {
        height: 0px;
    }
    .height-1 {
        height: $mds-boxFullRowHeight;
    }
    .height-2 {
        height: $mds-boxFullRowHeight*2;
    }
    .height-3 {
        height: $mds-boxFullRowHeight*3;
    }
}
@media (max-width: 600px) {
    .sm-nofloat {
        float: none;
    }
    .sm-box {
        display: block;
    }
    .sm-box-0 {
        display: none;
    }
    .sm-box-1 {
        display: block;
        width: $boxWidth;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,0);
    }
    .sm-box-2 {
        display: block;
        width: $boxWidth*2;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,255,0);
    }
    .sm-box-25 {
        display: block;
        width: $boxWidth*2.5;
        height: $boxHeight;
        padding: $boxPadding;
    }
    .sm-box-3 {
        display: block;
        width: $boxWidth*3;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,255);
    }
    .sm-box-35 {
        display: block;
        width: $boxWidth*3.5;
        height: $boxHeight;
        padding: $boxPadding;
        //background-color:rgb(255,0,255);
    }
    .sm-box-4 {
        display: block;
        width: $boxWidth*4;
        height: $boxHeight;
        padding: $boxPadding;
    }
    .sm-box-5 {
        display: block;
        width: $boxWidth*5;
        height: $boxHeight;
        padding: $boxPadding;
    }
    .sm-box-6 {
        display: block;
        width: $boxWidth*6;
        height: $boxHeight;
        padding: $boxPadding;
    }
    .sm-box-7 {
        display: block;
        width: $boxWidth*7;
        height: $boxHeight;
        padding: $boxPadding;
    }
    .height-0 {
        height: 0px;
    }
    .height-1 {
        height: $sm-boxFullRowHeight;
    }
    .height-2 {
        height: $sm-boxFullRowHeight*2;
    }
    .height-3 {
        height: $sm-boxFullRowHeight*3;
    }
    .height-4 {
        height: $sm-boxFullRowHeight*4;
    }
    .sm-height-1 {
        height: $sm-boxFullRowHeight;
    }
    .sm-height-2 {
        height: $sm-boxFullRowHeight*2;
    }
    .sm-height-25 {
        height: $sm-boxFullRowHeight*2.5;
    }
    .sm-height-3 {
        height: $sm-boxFullRowHeight*3;
    }
    .sm-height-35 {
        height: $sm-boxFullRowHeight*3.5;
    }
    .sm-height-4 {
        height: $sm-boxFullRowHeight*4;
    }
    .sm-height-5 {
        height: $sm-boxFullRowHeight*5;
    }
    .sm-height-6 {
        height: $sm-boxFullRowHeight*6;
    }
    .sm-height-7 {
        height: $sm-boxFullRowHeight*7;
    }
    .sm-height-auto {
        height: auto;
    }
    .sm-height-header {
        height: 70px;
    }
}
.project-title-dev {
    h1 {
        font-size: $font-size-large;
        font-weight: 100;
    }
    .priceClass {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    h2 {
        padding-top: 20px;
        font-size: $font-size-medium;
        font-weight: 100;
        color: $greencolor;
    }
}
@media(max-width:1280px) {
    .project-title-dev {
        h1 {} .priceClass {
            right: 8px;
        }
        h2 {
            padding-top: 14px;
        }
    }
}
@media(max-width:800px) {
    .project-title-dev {
        h1 {
            margin-top: -6px;
        }
        .priceClass {
            right: 8px;
        }
        h2 {
            padding-top: 6px;
        }
    }
}
@media(max-width:600px) {
    .project-title-dev {
        h1 {
            font-size: 22px;
        }
        .priceClass {
            right: 8px;
        }
        h2 {
            padding-top: 14px;
            font-size: $font-size-medium;
        }
    }
}
#main3d-dev {
    width: 100%;
    height: 100%;
    border: none;
    border: 1px solid $borderColor;
}
.tableMainPic {
    width: 100%;
    height: 100%;
    border: 1px solid $borderColor;
    background-image: $mainPic;
    background-size: cover;
}
.smImageHolder {
    overflow: hidden;
    border: 1px solid $borderColor;
    border-top: 0px;
    background-color: white;
}
.smallImage1 {
    width: 200%;
    left: 0%;
    height: 100%;
    background-image: url("../images/tables/endTable0-0.png");
    background-size: 50% 100%;
    position: relative;
    background-repeat: no-repeat;
}
.borderAll {
    .smallImage2 {
        border-left: 1px solid $borderColor;
    }
}
.bottomBorder {
    border-bottom: 1px solid $borderColor;
}
.smallImage2 {
    width: 100%;
    height: 100%;
    border: 1px solid $borderColor;
    border-top: 0px;
    border-left: 0px;
    background-size: cover;
    background-image: url("../images/tables/endTable0-1.png");
}
.brand {
    font-family: 'Quicksand', 'Roboto', sans-serif;
    font-size: $font-size-xx-large;
    line-height: $boxFullRowHeightWithoutPadding;
    text-align: center;
}
@media(max-width:1280px) {
    .brand {
        line-height: $md-boxFullRowHeightWithoutPadding;
    }
}
@media(max-width:800px) {
    .brand {
        font-size: 32px;
        line-height: $mds-boxFullRowHeightWithoutPadding;
    }
}
@media(max-width:600px) {
    .brand {
        line-height: $sm-boxFullRowHeight*2;
    }
}
.description-dev {
    padding: 15px;
    h3 {
        font-size: 14px;
        font-family: 'Merriweather', serif;
        line-height: 20px;
        top: 5px;
        position: relative;
    }
    border:1px solid rgba(0, 0, 0, .2);
    border-top:0px;
}
@media(max-width:1280px) and (min-width:801px) {
    .description-dev {
        padding: 10px;
        h3 {
            font-size: 10px;
            font-family: 'Merriweather', serif;
            line-height: 16px;
            top: 0px;
        }
    }
}
@media(max-width:800px) {
    .description-dev {
        padding: 10px;
        h3 {
            font-size: 14px;
            font-family: 'Merriweather', serif;
            line-height: 16px;
            top: 0px;
        }
    }
}
@media(max-width:600px) {
    .description-dev {
        padding: 10px;
        h3 {
            font-size: 16px;
            font-family: 'Merriweather', serif;
            line-height: 20px;
            top: 0px;
        }
    }
}
.sm-height-holder{
    height:14px;
    h2{
        top:-10px;
        font-size:$font-size-medium;
        position: absolute;

    }
    .left{
        left:16px;
    }
    #sm-height-text{
        right:16px;
    }
}
.height-text-holder {
    padding-top: 0px;
    margin-top: -38px;
    margin-bottom: 30px;
    h2 {
        font-size: 22px;
        text-align: center;
    }
}
.color-text {
    padding-top: 6px;
    h2 {
        font-size: 22px;
        text-align: center;
    }
}
@media(max-width:1280px) {
    .color-text {
        padding-top: 4px;
        h2 {
            font-size: 18px;
        }
    }
    .height-text-holder {
        position: relative;
        top: 54px;
        h2 {
            font-size: 18px;
        }
    }
}
section, footer {
    .buttonHolder {
        position: relative;
        top: 32px;
    }
    .buttonHolder.small{
        margin-top:10px;
    }
    .randomizeButton, #orderButton {
        width: 150px !important;
        border-radius: 20px;
        position: relative;
        font-size: $font-size-large;
        background-color: $greencolor;
        border-color: transparent;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        outline: none;
    }
    .bg-centerer {
        width: 100%;
        position: absolute;
    }
    .button-bg {
        filter: blur(1px);
        width: 148px;
        border-radius: 20px;
        position: absolute;
        font-size: $font-size-large;
        background-color: $dkgray;
        border-color: transparent;
        padding: 0px;
        left: 1px;
        top: 2px;
        height: 39px;
        margin: 0px auto;
        display: block;
        position: relative;
    }
    .centerer {
        display: block;
        width: 0px;
        margin: 0px auto;
    }
    @media(max-width:1280px) {
        .buttonHolder {
            top: 21px;
        }
        .randomizeButton, #orderButton {
            font-size: $font-size-medium;
        }
        .button-bg {
            height: 27px;
        }
    }
    @media(max-width:600px) {
        .buttonHolder {
            top: -6px;
        }
        .secondButtonHolder {
            top: 14px;
        }
    }
    .color-ui-row {
        padding: 8px 0px;
        height: 62px;
    }
    .color-ui {
        padding: 0px;
        float: left;
    }
    .color-ui-block {
        cursor: pointer;
        position: relative;
        left: -14px;
        width: 28px;
        height: 28px;
        //background-color:$greencolor;
    }
    .color-ui-block.selected {
        width: 34px;
        height: 34px;
        top: -3px;
        left: -17px;
        border: 3px solid $dkgray;
    }
    @media(max-width:1280px) {
        .colorDivider {
            height: 20px;
        }
        .color-ui-row {
            margin-top: 62px;
        }
        .color-ui {} .color-ui-block {} .color-ui-block.selected {
            margin-bottom: -6px;
        }
    }
    @media(max-width:800px) and (min-width:601px){
        .colorDivider {
            height: 7px;
        }
        .color-ui-row {
            margin-top: 26px;
            width:80%;
            margin-left:8px;
        }
        .color-ui-block {
            
            } .color-ui-block.selected {}
    }
    @media(max-width:600px) {
        .color-ui-row {
            margin-top: 18px;
            margin-bottom:10px;
        }
        .color-text {
            margin-top: -22px;
        }
        .color-ui-block {
            cursor: pointer;
            position: relative;
            left: -14px;
            width: 28px;
            height: 28px;
            //background-color:$greencolor;
        }
        .color-ui-block.selected {
            width: 34px;
            height: 34px;
            top: -3px;
            left: -17px;
            border: 3px solid $dkgray;
        }
        .secondButtonHolder{
            top:0px;
        }
    }
}
.color-slider {
    text-align: center;
    width: 80%;
    left: 12%;
    @media(max-width: 1280px) {
        width: 76%;
        left: 12%;
    }
    @media(max-width:1280px) {
        width: 70%;
        left: 16%;
    }
    @media(max-width:600px) {
        margin-top: 10px;
        width: 90%;
        left: 5%;
    }
}
.noUi-target {
    margin-top: 14px;
    border: none;
    background-color: red;
    height: 4px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    @media (max-width: 1280px) and (min-width: 600px) {
        height: 3px;
    }
    @media (max-width: 800px) and (min-width: 600px) {
        height: 2px;
    }
}
.noUi-handle {
    height: 24px !important;
    width: 24px !important;
    border-radius: 12px !important;
    top: -9px !important;
    border: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    @media (max-width: 1280px) and (min-width: 600px) {
        height: 20px !important;
        width: 20px !important;
        border-radius: 10px !important;
        top: -8px !important;
        margin-left: 6px;
    }
    @media (max-width: 800px) and (min-width: 600px) {
        height: 16px !important;
        width: 16px !important;
        border-radius: 8px !important;
        top: -7px !important;
        margin-left: 8px;
    }
}
.noUi-handle.no-before:before {
    content: none;
}
.noUi-handle.no-after:after {
    content: none;
}
.x3dom-touch-marker{
    display:none !important;
}
.bottomDivider{
    border-bottom:1px solid $borderColor;
}
@media (max-width:800px) and (min-width:601px){
    .bottomDivider{
        margin-top:20px;
    }
}
#threedidentifier{
    position: absolute;
    bottom:10px;
    right:10px;
    h2{
        font-size:$font-size-large;
    }
}
.attributionText{
    h4{
        margin-top: 6px;
        font-size:10px;
        text-align: right;
    }
}